@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
     padding: 0;
     font-family: 'DM Serif Display', serif;
     background-color: black;
}

a {
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

// setting up logo
.homebtn {
    background-color : transparent;
    border: 0px;
    cursor: pointer;
    .logo {
        width: 30%;
    }
}

//navigation buttons
.btn {
    transition: all .5s ease;
    color: rgb(255, 255, 255);
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 15px;
    outline: none;
    border-radius: 4px;

}

.btn:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
        a {
            transition: all .5s ease;
            color: black;
        }
}

.contact {
    position: absolute;
    background-color: black;
}

// Formatting the navigationbar
.first-nav {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    height: 90vh;
}

.topcontainer {
    flex: 100%;
    background-image: url('../images/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomcontainer {
    flex: 100%;
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .topcontainer {
        flex: 50%;
    }

    .bottomcontainer {
        flex: 50%;
    }

    .first-nav {
        height: 88vh;
    }
}